/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Finance-Alpaca-*

!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*

/share/
.idea/
.tidyall.d/
.perltidyrc
.tidyallrc
MANIFEST.SKIP
.vscode/
eg/get_account.pl
lib/Finance/Alpaca/Cookbook.pod